* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5%;
    padding: 0.5%;
    box-sizing: border-box;
    font-family: 1.2rem;
}

html, body {
    width: 100%;
    height: 100%;
}

#info {
    color: rgb(51, 112, 226);
    font-weight: bolder;
}

hr {
    background-color: rgb(64, 191, 149);
}